<mat-nav-list>
  <mat-list-item routerLink="/Noticias" routerLinkActive="active" aria-current="page">
    <mat-icon>article</mat-icon>
    <span>Noticias</span>
  </mat-list-item>
  <mat-list-item routerLink="/Productos" routerLinkActive="active" aria-current="page">
    <mat-icon>store</mat-icon>
    <span>Productos</span>
  </mat-list-item>
  <mat-list-item routerLink="/Ejemplo" routerLinkActive="active" aria-current="page">
    <mat-icon>home</mat-icon>
    <span>Ejemplo</span>
  </mat-list-item>
</mat-nav-list>
